*{
    box-sizing: border-box;
}

.container-card {
  background-color: #1b4039;
  padding:20px ;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 80vh;
}

.gif {
    margin-right: 50px;
    margin-left: 20px;
}

.text-box {
    margin-right: 10px ;
    flex-direction: column;
}

h3{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

p{
    color:white;
    
}

.container-card:hover {
    transform: translateY(5px);
}

/* title Styles  */
.hero-heading {
    text-align: left;
    color: white;
    font-size: 50px;
    line-height:1.1 ;
    font-weight: 800;
}

.hero-des {
    color: white;
    max-width:auto;
    padding: 5px;
    margin-top: 15px;
}


/* media queries */
